<% title "Announcement" %>

<p>
  <strong>Name:</strong>
  <%=h @announcement.name %>
</p>
<p>
  <strong>Info:</strong>
  <%=h @announcement.info %>
</p>
<p>
  <strong>Start At:</strong>
  <%=h @announcement.start_at %>
</p>
<p>
  <strong>End At:</strong>
  <%=h @announcement.end_at %>
</p>

<p>
  <%= link_to "Edit", edit_announcement_path(@announcement) %> |
  <%= link_to "Destroy", @announcement, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", announcements_path %>
</p>
