<table class="table pretty">
  <tr>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th class="last"></th>
  </tr>

  <% comments.each do |comment| -%>
    <tr class="<%= cycle("odd", "even") %>" data-role="comment">
      <td><%= time_ago_in_words(comment.created_at) + " ago" %></td>
      <td><%= comment.body %></td>
      <span data-role="comment-user"><%= user_link(comment.user) %></span>
      <td class="last"><%= "Replied" if comment.reply %></td>
    </tr>
  <% end -%>
</table>
