<%= render :partial=>"admin/top_admin" %>
      <table class="table">
        <tr>             
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.operating_system.name", :default => t("activerecord.labels.name", :default => "Name")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @operating_systems.each do |operating_system| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= operating_system.id %>
          </td>
                    <td>
            <%= link_to operating_system.name, operating_system_path(operating_system) %>
          </td>
                    <td>
            <%= operating_system.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", operating_system_path(operating_system) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_operating_system_path(operating_system) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", operating_system_path(operating_system), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
  <%= render :partial=>"admin/bottom_admin" %>
