<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", operating_systems_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_operating_system_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", operating_system_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.operating_system.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @operating_system.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.operating_system.info", :default => t("activerecord.labels.info", :default => "Info")) %>:</b>
          <%= @operating_system.info %>
        </p>
      <div class="wat-cf">
		<%= link_to "Edit", edit_operating_system_path(@operating_system),:class => "button" %> 
		<%= link_to "Destroy", @operating_system, :confirm => 'Are you sure?', :method => :delete, :class=>"button" %>

      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
