<div class='row'>
  <div class='span7'>
    <h1 class='label-header'>Lockhart Elementary School</h1>
  </div>
</div>
<div class='row'>
  <div class='span2 label-qrcode'>
    <%= image_tag @item.qr_url %>
  </div>
  <div class='span3 label-information'>
    <ul class="unstyled">
      <% if @item.name %>
        <li>Name: <%= @item.name %></li>
      <% end %>

      <% if @item.user_name %>
        <li>User: <%= @item.user_name %></li>
      <% end %>
    </ul>
    <ul class="unstyled">
      <% if @item.processor %>
        <li>Processor: <%= @item.processor %></li>
      <% end %>

      <% if @item.ram %>
        <li>Ram: <%= @item.ram %></li>
      <% end %>
    </ul>
  </div>
  <% if @image_url %>
    <div class='span2 label-image'>
      <img src="<%= @image_url %>" class='label-image'>
    </div>
  <% end %>
</div>
