  <%= render :partial=>"admin/top_admin" %>
      <table class="table">
        <tr>             
          <th>Name</th>
          <th>Login</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @users.each do |user| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= link_to user.reverse_name, user_path(user) %></td>
          <td><%= link_to user.login, user_path(user) %></td>
          
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", user_path(user) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_user_path(user) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", user_path(user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
          <%= link_to "New User", new_user_path %>
        </div>
        
      </div>
    <%= render :partial=>"admin/bottom_admin" %>

