<h1><%= @user.name %></h1>

<ul class="unstyled">
  <li>Login: <%= @user.login %></li>
  <li>Email: <%= @user.email %></li>
</ul>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn' %>
  <%= destroy_link(@user) %>
</div>
