<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", users_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_user_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", user_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.user.login", :default => t("activerecord.labels.login", :default => "Login")) %>:</b>
          <%= @user.login %>
        </p>
        <p>
          <b><%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</b>
          <%= @user.email %>
        </p>
		<p>
    		<% if @user.can_login == true %>
				<b>This user is authorized for system access</b>
			<% else %>
				<b>This user is NOT authorized for system access</b>
			<% end %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.user.first_name", :default => t("activerecord.labels.first_name", :default => "First name")) %>:</b>
          <%= @user.first_name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.user.last_name", :default => t("activerecord.labels.last_name", :default => "Last name")) %>:</b>
          <%= @user.last_name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.user.last_login", :default => t("activerecord.labels.last_login", :default => "Last login")) %>:</b>
          <%= @user.last_login %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.user.last_login_ip", :default => t("activerecord.labels.last_login_ip", :default => "Last login ip")) %>:</b>
          <%= @user.last_login_ip %>
        </p>


		<p>
			<strong>Items that this user is responsible for:</strong>
			<ul>
				<% @user.items.each do |i| %>
					<li class="model_item"><%= link_to i.info, i %></li>
				<% end %>
			</ul>
		</p>
      <div class="wat-cf">
	      <%= link_to "Edit", edit_user_path(@user),:class => "button" %> 
	      <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete, :class=>"button" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
