<table class="table">
  <tr>
    <th>Title</th>
    <th>Submitter</th>
    <th>Project</th>
	<th>Created</th>
	<th></th>
	<th class="last"></th>
  </tr>
  <% for ticket in tickets %>
    <tr>
      <td><%= ticket.title %></td>
      <td><%= ticket.submitter %></td>
      <td><%= ticket.project %></td>
      <td><%= time_ago_in_words(ticket.created_at) %> ago</td>
	  <td><%= button_to "Take", :controller => "tickets", :action => "take", :ticket => ticket.id if ticket.worker != current_user %></td>
      <td class="last">
	  <%= link_to "Show", ticket %> | 
      <%= link_to "Edit", edit_ticket_path(ticket)  %> |
      <%= link_to "Destroy", ticket, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>