<% title "Tickets" %>	
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
		<%= render :partial=>"navigation" %>
    </ul>
  </div>          
  <div class="content">          
    <div class="inner">
<table class="table">
  <tr>
    <th>Title</th>
    <th>Submitter</th>
    <th>Project</th>
	<th>Created</th>
	<th></th>
	<th class="last"></th>
  </tr>
  <% for ticket in @tickets %>
    <tr>
      <td><%= ticket.title %></td>
      <td><%= ticket.submitter %></td>
      <td><%= ticket.project %></td>
      <td><%= time_ago_in_words(ticket.created_at) %> ago</td>
	  <td><%= link_to "Take", ticket if ticket.worker.nil? %></td>
      <td class="last">
	  <%= link_to "Show", ticket %> | 
      <%= link_to "Edit", edit_ticket_path(ticket)  %> |
      <%= link_to "Destroy", ticket, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Ticket", new_ticket_path %></p>
</div>
</div>
</div>
<% content_for :sidebar, render(:partial=>'tickets/sidebar') %>
