<% title "Ticket" %>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
		<%= render :partial=>"navigation" %>
    </ul>
  </div>          
  <div class="content">          
    <div class="inner">
<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>
<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>
<p>
  <strong>Priority:</strong>
  <%= @ticket.priority %>
</p>
<p>
  <strong>Start Date:</strong>
  <%= @ticket.start_date %>
</p>
<p>
  <strong>Due Date:</strong>
  <%= @ticket.due_date %>
</p>
<p>
  <strong>Submitter:</strong>
  <%= @ticket.submitter.full_name unless @ticket.submitter.nil? %>
</p>
<p>
  <strong>Worker:</strong>
  <%= @ticket.worker.full_name unless @ticket.worker.nil?%>
</p>
<p>
  <strong>Project:</strong>
  <%= @ticket.project.name unless @ticket.project.nil?%>
</p>
<p>
  <strong>Area:</strong>
  <%= @ticket.area.name unless @ticket.area.nil?%>
</p>

<%= render :partial=>"comments/ticket_comments", :locals=>{:comments=>@comments} %>

<br /> 
<%= render "comments/add_comment", :target=>@comment %>

<p>
  <%= link_to "Edit", edit_ticket_path(@ticket) %> |
  <%= link_to "Destroy", @ticket, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", tickets_path %>
</p>
</div>
</div>
</div>
<% content_for :sidebar, render(:partial=>'tickets/sidebar') %>
