<% title "Edit Project" %>
<%= render "admin/top_admin" %>
<h2>Edit Project</h2>

<%= render 'form' %>

<p>
  <%= link_to "Show", @project %> |
  <%= link_to "View All", projects_path %>
</p>
<%= render "admin/bottom_admin" %>
