<% title "Projects" %>
<%= render "admin/top_admin" %>
<h2>Projects</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Keywords</th>
  </tr>
  <% for project in @projects %>
    <tr>
      <td><%= project.name %></td>
	  <td><%= project.keywords %></td>
      <td><%= link_to "Show", project %></td>
      <td><%= link_to "Edit", edit_project_path(project) %></td>
      <td><%= link_to "Destroy", project, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Project", new_project_path %></p>
<%= render "admin/bottom_admin" %>
