<%= render "admin/top_admin" %>
<table class="table">
  <tr>             
    <th class="first">ID</th>
    <th>
      <%= t("activerecord.attributes.building.name", :default => t("activerecord.labels.name", :default => "Name")) %>
    </th>
    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
    <th class="last">&nbsp;</th>
  </tr>
  <% @buildings.each do |building| -%>
    <tr class="<%= cycle("odd", "even") %>">
      <td>
        <%= building.id %>
      </td>
      <td>
        <%= link_to building.name, building_path(building) %>
      </td>
      <td>
        <%= building.created_at %>
      </td>
      <td class="last">
        <%= link_to "#{t("web-app-theme.show", :default => "Show")}", building_path(building) %> |
        <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_building_path(building) %> |
        <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", building_path(building), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </td>
    </tr>          
  <% end -%>
</table>
<div class="actions-bar wat-cf">
  <div class="actions">
    <%= link_to "New Building", new_building_path %>
  </div>

</div>
<%= render "admin/bottom_admin" %>
