<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", buildings_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_building_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", building_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.building.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @building.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.building.info", :default => t("activerecord.labels.info", :default => "Info")) %>:</b>
          <%= @building.info %>
        </p>
      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_building_path(@building), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", building_path(@building), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>