<%= simple_form_for @software, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :license_key %>
  <%= f.association :operating_system %>
  <%= f.input :number_of_licenses %>
  <%= f.input :storage_location %>
  <%= f.input :info %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                softwares_path, :class => 'btn' %>
  </div>
<% end %>
