<%- model_class = Software.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>OS</th>
      <th>Licenses</th>
    </tr>
  </thead>
  <tbody>
    <% @softwares.each do |software| %>
      <tr>
        <td><%= link_to software.name, software_path(software) %></td>
        <td><%= software.operating_system_name %></td>
        <td><%= software.number_of_licenses %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_software_path(software), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      software_path(software),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_software_path,
            :class => 'btn btn-primary' %>
