<%- model_class = @software.class -%>
<h1><%= @software.name %></h1>

<ul class="unstyled">
  <li><strong>License Key</strong> <%= @software.license_key %></li>
  <li><strong>OS</strong> <%= @software.operating_system_name %></li>
  <li><strong>Storage Location</strong> <%= @software.storage_location %></li>
</ul>

<h3>Info</h3>
<p><%= @software.info %></p>

<% if @software.installations.any? %>
  <ul>
    <%= @software.installations.each do |install| %>
      <li><%= install.item_name %></li>
    <% end %>
  </ul>

<% else %>
  <p>This software is not installed anywhere.</p>

<% end %>

<div class="form-actions">
  <%= link_to 'Back', softwares_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_software_path(@software), :class => 'btn' %>
  <%= destroy_link(@software) %>
</div>
