
  <div class="group">
    <%= f.label :name, t("activerecord.attributes.item.name", :default => "Name"), :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :make, t("activerecord.attributes.item.make", :default => "Make"), :class => :label %>
    <%= f.text_field :make, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :model, t("activerecord.attributes.item.model", :default => "Model"), :class => :label %>
    <%= f.text_field :model, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :processor, t("activerecord.attributes.item.processor", :default => "Processor"), :class => :label %>
    <%= f.text_field :processor, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :processor_rating, t("activerecord.attributes.item.processor_rating", :default => "Processor rating"), :class => :label %>
    <%= f.text_field :processor_rating, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :ram, t("activerecord.attributes.item.ram", :default => "Ram"), :class => :label %>
    <%= f.text_field :ram, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :hard_drive, t("activerecord.attributes.item.hard_drive", :default => "Hard drive"), :class => :label %>
    <%= f.text_field :hard_drive, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :serial, t("activerecord.attributes.item.serial", :default => "Serial"), :class => :label %>
    <%= f.text_field :serial, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :vt_tag, t("activerecord.attributes.item.vt_tag", :default => "Vt tag"), :class => :label %>
    <%= f.text_field :vt_tag, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :purchased_at, t("activerecord.attributes.item.purchased_at", :default => "Purchased at"), :class => :label %>
    <%= f.datetime_select :purchased_at, :class => 'datetime_select' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :warranty_expires_at, t("activerecord.attributes.item.warranty_expires_at", :default => "Warranty expires at"), :class => :label %>
    <%= f.datetime_select :warranty_expires_at, :class => 'datetime_select' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :recieved_at, t("activerecord.attributes.item.recieved_at", :default => "Recieved at"), :class => :label %>
    <%= f.datetime_select :recieved_at, :class => 'datetime_select' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :os, t("activerecord.attributes.item.os", :default => "Os"), :class => :label %>
    <%= f.text_field :os, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :type, t("activerecord.attributes.item.type", :default => "Type"), :class => :label %>
    <%= f.text_field :type, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", items_path, :class => "button" %> 
</div>