<%- model_class = Item.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped" id="items">
  <thead>
    <tr>
      <th>Name</th>
      <th>Make/Model</th>
      <th>Type</th>
      <th>Location</th>
      <th>IP</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr class="item_row">
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= item.make_and_model %></td>
        <td><%= item.short_type %></td>
        <td><%= item.short_location %></td>
        <td><%= item.first_ip %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_item_path(item), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      item_path(item),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_item_path,
            :class => 'btn btn-primary' %>
