<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", items_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_item_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= h @title %></h2>

    <div class="inner">
		<%= form_tag items_path, :method => 'get' do %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
		  <p>
		    <%= text_field_tag :search, params[:search] %>

		    <%= submit_tag "Search", :name => nil %>
		  </p>
		<% end %>  
      <table class="table pretty">
        <tr>
	        <th></th>
            <th><%= sortable "name" %></th>
		 	<th><%= sortable "make", "Make/Model"%></th>
			<th><%= sortable "type_of_item", "Type" %></th>
			<th><%= sortable "location_id", "Location" %></th>
			<th><%= sortable "processor_rating", "Proc" %></th>
			<th><%= sortable "ram" %></th>
			<th>IP</th>

        </tr>
        <% @items.each do |item| -%>
        <tr class="<%= cycle("odd", "even") %>">
			<% if item.inventoried_recently? %>
				<td><%= image_tag "green.png", :size => "16x16"%></td>
			<% else %>
				<td><%= image_tag "red.png", :size => "16x16"%></td>
			<% end %>
           	<td><%= link_to item.name, item_path(item) %></td>
			<td><%= h item.make_and_model %></td>
			<td><%= h item.short_type unless item.type_of_item.blank? %></td>
            <td><%= h item.location.short_location unless item.location.blank? %></td>
            <td><%= h item.short_processor unless item.processor.blank? %></td>
			<td><%= h number_to_human_size(item.ram) unless item.ram.blank? %></td>
			<td><%= item.ips.first.number unless item.ips.empty? %></td>
			

       
        </tr>          
        <% end -%>
      </table>
<%= will_paginate @products %>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
