<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", items_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_item_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Items</h2>
    <div class="inner">
      <table class="table">
        <tr>
	        <th></th>
                    <th>
            <%= t("activerecord.attributes.item.name", :default => t("activerecord.labels.name", :default => "Name")) %>
          </th>
                    
			
		 	<th>Make</th>
			<th>Model</th>
			<th>Type</th>
			<th>Location</th>
			<th>Proc</th>
			<th>Ram</th>
			<th>IP</th>

        </tr>
        <% @items.each do |item| -%>
        <tr class="<%= cycle("odd", "even") %>">
			<% if item.inventoried_recently? %>
				<td><%= image_tag "green.png", :size => "16x16"%></td>
			<% else %>
				<td><%= image_tag "red.png", :size => "16x16"%></td>
			<% end %>
           	<td><%= link_to item.name, item_path(item) %></td>
			<td><%= h item.make unless item.make.blank? %></td>
			<td><%= h item.model unless item.model.blank? %></td>
			<td><%= h item.short_type unless item.type_of_item.blank? %></td>
            <td><%= h item.location.short_location unless item.location.blank? %></td>
            <td><%= h item.short_processor unless item.processor.blank? %></td>
			<td><%= h number_to_human_size(item.ram) unless item.ram.blank? %></td>
			<td><%= item.ips.first.last_octet unless item.ips.empty? %></td>
			

       
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
