<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", items_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_item_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= h @title %></h2>

    <div class="inner">
		<%= form_tag items_path, :method => 'get' do %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
		  <p>
		    <%= text_field_tag :search, params[:search] %>

		    <%= submit_tag "Search", :name => nil %>
		  </p>
		<% end %>  
		<div id="csv_export" style="display:block float:right">
			CSV Exports: 

			<%= link_to "Full", params.merge(:format=>:csv, :in_use=>"false") %> |
			<%= link_to "Current",  params.merge(:format=>:csv) %> |
			<%= link_to "Security Review",  params.merge(:format=>:csv, :csv_type=>"sec_review") %>
		</div>		
	
	<div id="items">
      <%= render  'items' %>
	</div>

      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
