<%- model_class = @item.class -%>
<h1><%= @item.name %></h1>
<div class="row">
  <div class="span4">
    <h3>General Information</h3>
    <p>Priority: <%= @item.priority %></p>
    <p>Last Inventory: <%= @item.inventoried_at %></p>
    <p>Location: <%= @item.location_full_name %></p>
    <p>User: <%= @item.user_name %></p>
    <p>Type: <%= @item.type_of_item %></p>
  </div>

  <div class="span4">
    <h3>Hardware Information</h3>
    <p>Make: <%= @item.make %></p>
    <p>Model: <%= @item.model %></p>
    <p>Processor: <%= @item.processor %></p>
    <p>Proc Rating: <%= @item.processor_rating %></p>
    <p>Ram: <%= number_to_human_size(@item.ram) %></p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h3>Identifying Information</h3>
    <p>Serial: <%= @item.serial %></p>
    <p>Unique ID: <%= @item.vt_tag %></p>
  </div>
  <div class="span4">
    <h3>Purchase Information</h3>
    <p>Purchase Date: <%= @item.purchased_at %></p>
    <p>Warranty Expiration: <%= @item.warranty_expires_at %></p>
    <p>Surplus Date: <%= @item.surplused_at %></p>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h3>Software Information</h3>
    <p>OS: <%= @item.operating_system_name %></p>
    <h4>Software Installed</h4>
    <% if @item.softwares.count > 0 %>
      <ul>
        <% @item.softwares.each do |software| %>
          <li><%= software.name %> <%= link_to "(x)",:controller=>"installations", 
            :action=>"uninstall_software",
            :software=>software.id,
            :item=>@item.id %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

</div>

<%= content_for(:page_sidebar) do %>
  <%= image_tag @item.qr_url %>
  <h4>Primary Label</h4>
  <ul class="unstyled">
    <li><%= @item.name %></li>
    <li><%= @item.primary_ip %></li>
    <li><%= @item.user_name %></li>
  </ul>
  <h4>Secondary Label</h4>
  <ul class="unstyled">
    <li><%= @item.processor %></li>
    <li><%= number_to_human_size(@item.ram) %></li>
  </ul>
<% end %>

<div class="form-actions">
  <%= link_to "Edit", edit_item_path(@item), :class => 'btn' %>
  <%= link_to "Destroy", item_path(@item),
    :method => 'delete',
    :confirm => 'Are you sure?',
    :class => 'btn btn-danger' %>
  </div>
