<table class="table pretty">
  <tr>
   		<th>Name</th>
	 	<th>Make/Model</th>
		<th>User</th>
		<th>Location</th>
		<th>Purchase Date</th>
		<th>Warranty Expiration</th>
		
  </tr>
  <% items.each do |item| -%>
  <tr class="<%= cycle("odd", "even") %>">
	<td><%= link_to item.name, item_path(item) %></td>
	<td><%= item.make_and_model %></td>
	<td><%= item.user.full_name unless item.user.blank? %></td>
	<td><%=  item.location.short_location unless item.location.blank? %></td>
	<td><%= item.purchased_at.to_s(:long) unless item.purchased_at.blank? %></td>
	<td><%= item.warranty_expires_at.to_s(:long) unless item.purchased_at.blank? %></td>
  </tr>          
  <% end -%>
</table>