<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
		<%= render :partial=> "navigation" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= h @title %></h2>

    <div class="inner">
      <table class="table">
        <tr>
            <th>
            	<%= t("activerecord.attributes.item.name", :default => t("activerecord.labels.name", :default => "Name")) %>
          	</th>
		 	<th>Make/Model</th>
			<th>Type</th>
			<th>Location</th>
			<th>Proc</th>
			<th>Proc Rating</th>
			<th>Ram</th>
			

        </tr>
        <% @items.each do |item| -%>
        <tr class="<%= cycle("odd", "even") %>">
           	<td><%= link_to item.name, item_path(item) %></td>
			<td><%= h item.make_and_model %></td>
			<td><%= h item.short_type unless item.type_of_item.blank? %></td>
            <td><%= h item.location.short_location unless item.location.blank? %></td>
            <td><%= h item.short_processor unless item.processor.blank? %></td>
            <td><%= h item.processor_rating unless item.processor_rating.blank? %></td>
			<td><%= h number_to_human_size(item.ram) unless item.ram.blank? %></td>
			

       
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
