<li><%= link_to "Items", items_path  %></li>
<li><%= link_to "Software", softwares_path  %></li>
<li><%= link_to "Tickets", tickets_path  %></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Areas", areas_path %></li>
    <li><%= link_to "Buildings", buildings_path %></li>
    <li><%= link_to "Item Types", item_types_path %></li>
    <li><%= link_to "IPs", ips_path %></li>
    <li><%= link_to "Locations", locations_path %></li>
    <li><%= link_to "Operating Systems", operating_systems_path %></li>
    <li><%= link_to "Projects", projects_path %></li>
    <li><%= link_to "Users", users_path %></li>
  </ul>
</li>
