
  <div class="group">
    <%= f.label :number, t("activerecord.attributes.ip.number", :default => "Number"), :class => :label %>
    <%= f.text_field :number, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :info, t("activerecord.attributes.ip.info", :default => "Info"), :class => :label %>
    <%= f.text_area :info, :class => 'text_area' %>
    <span class="description">Ex: a simple text</span>
  </div>

	<div class="group">
  <%= f.label :building_id,  t("activerecord.attributes.ip.building_id", :default => "Building"), :class => :label %>
	<%= f.collection_select(:building_id, Building.all, :id, :name, {:prompt => true}) %>
	</div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
 	<%= link_to "Cancel", ips_path,:class => "button" %> 
</div>
