<%= render "admin/top_admin" %>
<table class="table">
  <tr>             
    <th>
      <%= t("activerecord.attributes.ip.number", :default => t("activerecord.labels.number", :default => "Number")) %>
    </th>
    <th><%= t("web-app-theme.building_id", :default => "Building")  %></th>
    <th><%= t("web-app-theme.item_id", :default => "Item")  %></th>

    <th class="last">&nbsp;</th>
  </tr>
  <% @ips.each do |ip| -%>
    <tr class="<%= cycle("odd", "even") %>">
      <td>
        <%= link_to ip.number, ip_path(ip) %>
      </td>
      <td>
        <%= link_to ip.building.name , building_path(ip.building) %>
      </td>
      <td>
        <% if ip.item %>
          <%= link_to ip.item.name , item_path(ip.item) %>
        <% else %>
          Unassigned
        <% end %>
      </td>
      <td class="last">
        <%= link_to "#{t("web-app-theme.show", :default => "Show")}", ip_path(ip) %> |
        <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_ip_path(ip) %> |
        <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", ip_path(ip), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </td>
    </tr>          
  <% end -%>
</table>
<div class="actions-bar wat-cf">
  <div class="actions">
    <%= link_to "New IP", new_ip_path %>
  </div>

</div>
<%= render "admin/bottom_admin" %>
