<%- model_class = @ip.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:number) %>:</strong><br>
  <%= @ip.number %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:info) %>:</strong><br>
  <%= @ip.info %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:item_id) %>:</strong><br>
  <%= @ip.item_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:building_id) %>:</strong><br>
  <%= @ip.building_id %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              ips_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_ip_path(@ip), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              ip_path(@ip),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
